.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}
*{
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
.info-grafis-utama{
    font-family: "Quicksand", sans-serif;
    font-style: normal;
}

.info-grafis-about{
    font-family: "Inria Serif", sans-serif;
    font-style: normal;
}

.glassmorphism{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.typed-cursor {
  display: none;
}

.glassmorphism-btn{
background: rgba(255, 255, 255, 0.08);
backdrop-filter: blur(1.1px);
-webkit-backdrop-filter: blur(1.3px);
border: 1px solid rgba(255, 255, 255, 0.397);
}
.grid-sizer,
.grid-item {
  width: 25%; 
}

.grid-item{
  padding: 20px;
  img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    display: block;
  }
} 
#coloring{
  background: #ffffff;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.473) 100%);
}
*{
  scroll-behavior: smooth;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  color: rgb(60, 106, 255); 
  border-radius: 100%;
  width: 35px;
  height: 35px;
  box-shadow: 1px 1px 5px #555;
  opacity: 40%;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  scale: 105%;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 13px;
  line-height: 0; 
  opacity: 100%;
}